%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}/
		%title Jira Agile Board
	%link{:rel => "stylesheet", :href => "main.css", :type => "text/css", :media => "screen"}
	%body
		= yield