%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}/
		%title Jira Agile Board
		%link{:rel => "stylesheet", :href => "main.css", :type => "text/css", :media => "screen"}
		%script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
	%body
		= yield